---
import Layout from '../layouts/Layout.astro';
import Count from '../components/Count.astro';
---
<Layout title="Countdown">
	<main>
		<Count />
	</main>
</Layout>

<style>
	main {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>